{% extends 'mitarbeiter/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}
                {{formset.management_form}} <!--wichtig, damit jede einzelne Form auch gespeichter wird -->
                {% for form in formset%}
                {{form}}
                <hr>
                {% endfor %}

                <input type="submit" name="Submit">

            </form>
        </div>
    </div>
</div>
{% endblock %}